.form__title {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: white;
}

.form__name {
    color: white;
}

.form__input_invalid {
    border: medium dashed red;
}

.form__button {
    margin-top: 40px;
    align-self: center;
    padding: 0;
    min-width: 100%;
    min-height: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .3s ease 0.3s;
}

.form__button:hover {
    opacity: 0.6;
}

.form__button_inactive {
    background-color: #F8F8F8;
    color: #C2C2C2;
    cursor: default;
  }

.form__input-container {
    position: relative;
}

.form__input-error {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: white;
}

.form__api-response {
    padding-top: 20px;
    color: white;
}