.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 0;
}

.main__table {
    width: 100%;
    margin: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__table-title {
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: white;
    text-align: center;
}

.main__link-container {
    width: 100%;
}